.image-custom {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.card-size {
    height: 8rem;
}

.card-custom {
    border: 1px solid rgba(255, 0, 0, 0);
}

/* if card clotest hover */
.card-custom:hover {
    border: 1px solid;
    border-color: blue;
}

/* if card input:radio is checked, change color [card-custom] */
label input[type="radio"]:checked + .card-custom {
    border: 1px solid;
    border-color: blue;
}

/* hide circle in radio button */
.radio-none {
    display: none;
}

/* clotest size */

.card-clotest-size {
    border: 1px solid rgb(175, 175, 175);
    width: 5rem;
}

/* clotest color */

.card-clotest-color {
    border: 1px solid rgb(175, 175, 175);
    width: 2rem;
    height: 2rem;
}

.card-clotest-color-custom {
    border: 1px solid rgb(175, 175, 175);
}

/* if card clotest hover */
.card-clotest-color-custom:hover {
    outline: 1px solid;
    outline-color: blue;
    outline-offset: 0.1rem;
}

label input[type="radio"]:checked + .card-clotest-color-custom {
    outline: 1px solid;
    outline-color: blue;
    outline-offset: 0.1rem;
}
