.image-custom {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.card-size {
    height: 8rem;
}

.card-custom {
    border: 1px solid rgba(255, 0, 0, 0);
}

/* if card clotest hover */
.card-custom:hover {
    border: 1px solid;
    border-color: blue;
}

/* if card input:radio is checked, change color [card-custom] */
label input[type="radio"]:checked + .card-custom {
    border: 1px solid;
    border-color: blue;
}

/* hide circle in radio button */
.radio-none {
    display: none;
}

/* clotest size */

.card-clotest-size {
    border: 1px solid rgb(175, 175, 175);
    width: 5rem;
}
